html {
    position: relative;
    min-height: 100%;
}

body{
    padding: 0;
    margin: 0 0 100px;
    box-sizing: border-box;

    cursor: url(../public/Image/C11.png) 4 12, auto;
    /* color: black; */

    font-family: 'Times New Roman', Times, serif;
}

.DARKmode{
    background-color: black !important;
    color: white !important;
}

.App:only-child {
    margin: 3% 7%;
}

/* ---------------------------- CURSOR ---------------------------- */



/* ---------------------------- FOOTER ---------------------------- */

footer{
    position: absolute;
    bottom: 0;
    left: 0;

    height: 100px !important;
    
    padding: 3% 7%;
    
    width: 100%;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    overflow: hidden;
}

/* ---------------------------- LINKS ---------------------------- */

a{
    text-decoration: none;
    color: rebeccapurple;
}

a:hover{
    color: rgb(176, 130, 222);
}

/* ---------------------------- NAVBAR ---------------------------- */

.SingleNav{
    background-color: white;
    padding: 10px 30px;
    border-radius: 0 90px 90px 0;
    border: 2px solid rebeccapurple;

    position: fixed !important;
    width: 140px;
    height: 60px;
    z-index: 1;
}

.SingleNav:hover{
    animation: pulsate 1.5s infinite alternate;  
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
    padding-right: 35px;
}

.SingleNav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.SingleNav a:hover{
    font-size: 1.7rem;
    color: black;
}

/* ---------------------------- BUTTONS ---------------------------- */

.CircularBtn{
    border-radius: 50% !important;
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.6rem !important;
    size: 3rem !important;
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    font-size: 1.2rem !important;
    font-weight: 200;
}

.CircularBtn:hover{
    background-color: rgb(220, 192, 248);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.SquareBtn{
    /* border-radius: 50% !important; */
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.6rem !important;
    size: 3rem !important;
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    font-size: 1.2rem !important;
    font-weight: 200;
}

.SquareBtn:hover{
    background-color: rgb(220, 192, 248);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.ToggleBtn{
    border-radius: 100%;
    background-color: rebeccapurple;
    font-size: 15px;
    width: 30px;
    height: 30px;
    color: rebeccapurple;
    cursor: pointer;
}

.LargeBtn{
    width: 100px;
    height: 100px;
    margin: 40px !important;
}

.ButtonStyle{
    width: 100px;
    height: 2.8rem;
    margin: 0.6rem !important;
    size: 3rem !important;
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    color: white;
    font-size: 1.2rem !important;
    font-weight: 200;
}

.ButtonStyle:hover{
    background-color: rgb(220, 192, 248);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.TransparentBtn{
    background-color: transparent;
    border: none;
    color: rebeccapurple;
}

.TransparentBtn:hover{
    background-color: transparent ;
    color: rgb(255, 255, 255);
}

.TransparentBtn:active{
    background-color: transparent !important;
}

/* ---------------------------- TEXTS FONTS ---------------------------- */

.FontThin{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.LinedText{
    display: flex;
    align-items: center;
    text-align: center;
}

.LinedText::before, .LinedText::after{
    content: '';
    flex: 1;
    
    
    border-color:  0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(169, 83, 255),
    0 0 82px rgb(169, 83, 255),
    0 0 92px rgb(169, 83, 255),
    0 0 102px rgb(169, 83, 255),
    0 0 151px rgb(169, 83, 255);
    
    border-bottom: 1px solid ;
}

.LineTextLine:not(:empty)::before,.LineTextLine:not(:empty)::after {
    margin-left: .25em;
}

.FontCursive{
    /* font-family: 'Alex Brush', cursive; */
    font-family: "Sacramento", sans-serif;
}

.neonPurpleText{
    /* color: black; */
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(169, 83, 255),
    0 0 82px rgb(169, 83, 255),
    0 0 92px rgb(169, 83, 255),
    0 0 102px rgb(169, 83, 255),
    0 0 151px rgb(169, 83, 255);
}

.neonGreenText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.SmallText{
    font-size: 1.6rem;
}

.VSmallText{
    font-size: 1rem;
}

.LargeText{
    font-size: 3rem;
}

.VLargeText{
    font-size: 7rem;
}

/* ---------------------------- FORMS ---------------------------- */

.Form{
    padding: 10% 10% !important;
}

.FormBox{
    width: 500px !important;
    height: 380px !important;
    /* margin-bottom: 100px; */
}

.FormBox2{
    width: 500px !important;
    height: 550px !important;
}

.FormDiv{
    padding: 4%;
}

/* ---------------------------- INPUT BOXES ---------------------------- */

input{
    padding: 3%;
    margin-bottom: 3%;
}

input::placeholder{
    
    size: 30rem;
    font-family: 'Courier New', Courier, monospace;
}

/* ---------------------------- IMAGES ---------------------------- */

img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover !important;    /* to fit and fill the parent box with the image without distorting/ maintains the image aspect ratio */
}

/* img:hover{
    filter: brightness(70%);
    -webkit-transition: all 1s ease;    /* WebKit */
    /* -moz-transition: all 1s ease;       /* Mozilla */
    /* -o-transition: all 1s ease;         /* Opera */
    /* -ms-transition: all 1s ease;        /* Internet Explorer */
    /* transition: all 1s ease;            /* CSS3 */
/* } */ 

/* ---------------------------- CONTAINERS ---------------------------- */

.SkeletonBox{
    padding: 0;
    margin: 0;
}

.FitInSizedBox{
    display: inline-block !important;
}

.neonBox{
    border: 0.2rem solid rebeccapurple;
    /* padding: 3px; */
    border-radius: 2rem;
    height: 100px;
    width: 20% ;
    /* width: 20% !important; */
}

.neonBox:hover{
    /* animation: pulsate 1.5s infinite alternate;   */
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
}
  
@keyframes pulsate {
    100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    }
    0% {
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;
    }
}

.SingleOrderBox{
    
    background-color: #D9BEF8;
    height: 800px;
    border: none;
}

.SingleOrder{
    background-color: white;
    border-radius: 2rem;
    margin: 3%;
}

.SingleCarousel{
    background-color: red;
    padding: 3%;
}

/* .Block{
    overflow: visible !important;
    height: 300px !important;
    margin: 3px;
    border: 1.4px solid rgb(0, 0, 0);
} */

.Block h4{
    position: absolute;
    top: 15% !important;
    left: 5%;
    size: 5rem !important;
    z-index: 1;
}

.Block h6{
    position: absolute;
    top: 25%;
    left: 5%;
    size: 20px;
    z-index: 1;
}

.Block:hover{
    cursor: pointer;
    border: 1.4px solid rebeccapurple;
    color: black !important;
}

/* @keyframes ChangeTextShade {
    from {
        color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
    }
    to {
        color: black;
        text-shadow: 
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(169, 83, 255),
            0 0 82px rgb(169, 83, 255),
            0 0 92px rgb(169, 83, 255),
            0 0 102px rgb(169, 83, 255),
            0 0 151px rgb(169, 83, 255);
    }
}

@keyframes ChangeImage {
    from {
        color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
    }
    to {
        color: black;
        text-shadow: 
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(169, 83, 255),
            0 0 82px rgb(169, 83, 255),
            0 0 92px rgb(169, 83, 255),
            0 0 102px rgb(169, 83, 255),
            0 0 151px rgb(169, 83, 255);
    }
} */

.Block{
    overflow: visible !important;
    height: 300px !important;
    margin: 3px;
    border: 1.4px solid ;
    color: black !important;
}

.Block img{
    filter: brightness(50%);
    -webkit-transition: all 1s ease;    /* WebKit */
    -moz-transition: all 1s ease;       /* Mozilla */
    -o-transition: all 1s ease;         /* Opera */
    -ms-transition: all 1s ease;        /* Internet Explorer */
    transition: all 1s ease;            /* CSS3 */
}

.Block img:hover{
    filter: brightness(90%);
    -webkit-transition: all 1s ease;    /* WebKit */
    -moz-transition: all 1s ease;       /* Mozilla */
    -o-transition: all 1s ease;         /* Opera */
    -ms-transition: all 1s ease;        /* Internet Explorer */
    transition: all 1s ease;            /* CSS3 */
}

.ChangeBlockOnHover{
    animation-name: ChangeTextShade, ;
    animation-duration: 4s;
}

/* ----------------------------  Carousel ---------------------------- */

.Carousel {
    display: inline-block;
    width: 100%;
}

.CarouselAdmin{
    display: inline-block;
    width: 940px;
}

/* ---------------------------- ALLIGNMENTS ---------------------------- */

.TextCenter{
    text-align: center;
}

.Flex{
    display: flex;
}

.Relative{
    position: relative;
}

.TopRight{
    position: absolute;
    top: -4%;
    right: -4%;
    z-index: 1;
}

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0;
    margin: 0; */
    /* height: 200px; */
    /* border: 3px solid green;  */
}

.MyOrder{
    margin: 0% 7% ;
    padding: 3% 7%;
    width: 100%;
    color: rebeccapurple;
}

/* --------------------- LIST --------------------- */

.ul{   
    width: 1000px;
}

.li{
    padding: 1% 3%;
    color: black;
    margin: 3% 0%;
    border-radius: 30px;
    width: 100%;
    height: 70px;
    background-color: #DBB7FE;
}
