body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.App:only-child {
    margin: 3% 7%;
}

.Casserole{
    background-color: red;
}

.Casserole h1{
    color: wheat;
}

.Casserole div{
    display: flex;
}

.Block{
    margin: 5%;
    width: 30%;
    background-color: black;
    color: white;
    text-align: center;
}

.Form{
    background-color: wheat;
    padding: 3%;
}